<table style="width:100%;" cellspacing="0" cellpadding="0" border='1'>
		<tr>
			<th scope="col" class="small">No.</th>
			<th scope="col" class="text-left">Card Id</th>
			<th scope="col" class="text-left">Full Name</th>
			<th scope="col" class="text-left">Email</th>
			<th scope="col" class="text-left">User Type</th>
			<th scope="col" class="text-left">VIP Joined</th>
			<th scope="col" class="text-left">Expire</th>
			<th scope="col" class="text-left">Status</th>
			<th scope="col" class="text-left">Birthday</th>
			<th scope="col" class="text-left">Religion</th>
			<th scope="col" class="text-left">Gender</th>
			<th scope="col" class="text-left">Phone 1</th>
			<th scope="col" class="text-left">Phone 2</th>
			<th scope="col" class="text-left">Address</th>
		</tr>
	{list_user_member}
	
		<tr>
			<td>{no}.</td>
			<td>{card_id}</td>
			<td>{username}</td>
			<td>{email}</td> 
			<td>{vip}</td> 
			<td>{dvip}</td> 
			<td>{expire}</td> 
			<td>{status}</td> 
			<td>{birthday}</td> 
			<td>{religion}</td> 
			<td>{sex}</td> 
			<td>{phone}</td> 
			<td>{hp}</td> 
			<td>{addr}</td> 
		</tr>

	{/list_user_member}
</table>