      
<!--CONTENT-->
<div class="content twelve columns" id="content">
    <!--breadcrumbs-->
    <ul class="breadcrumbs">
        {breadcrumbs}
        <li {class}><a href="{href}">{text}</a></li>
        {/breadcrumbs}
    </ul>
    <!--breadcrumbs-->

    <div class="panel">
        <div class="panel-box">
            <div class="row panel-title">
                <div class="eleven columns text-left">
                    <h5>Search {menu_title} </h5>
                </div>
                <div class="one columns text-right">
                    <img src="{base_url}assets/images/admin/plus.png" alt="plus" class="plus-panel"/>
                    <img src="{base_url}assets/images/admin/minus.png" alt="minus" class="min-panel"/>
                </div>
            </div>

            <div class="row panel-form" id="panel-form">
                <div class="twelve columns">
                    <form id="search-{file_app}" name="search-{file_app}" action="{path_app}/search" method="post" class="custom">
                        <div class="row">
                            <div class="four columns">
                                <label for="s_name">Name : </label>
                                <input type="text" value="{s_name}" name="s_name" id="s_name"/>
                                <label for="s_email">Email : </label>
                                <input type="text" value="{s_email}" name="s_email" id="s_email"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="four columns text-right">
                                <input type="submit" value="Search" class="medium radius secondary button" title="Search" name="search"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {error_msg}
    {success_msg}
    {info_msg}

    <div class="panel">
        <div class="row">
            <div class="twelve columns">
                {search_query}
                <h5>Total: {q_total}</h5>
                <h5>List of {menu_title}</h5>
                <form id="form-{file_app}" name="form-{file_app}" action="#" method="post" >
                    <table class="twelve" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th scope="col" class="small">No.</th>
                                <th scope="col" class="small"><input type="checkbox" onclick="javascript:checkedAll('form-{file_app}', true);" id="primary_check"/></th>
                                <th scope="col" class="text-left">Username</th>
                                <th scope="col" class="text-left">Group</th>
                                <th scope="col" class="text-left">Name</th>
                                <th scope="col" class="text-left">Email</th>
								<th scope="col" class="text-left">Access Workshop</th>
                            </tr>
                        </thead>


                        <tbody id="record-{id_auth_user}">
                        {list_user_admin}
                            <tr>
                                <td scope="col" class="small">{no}.</td>
                                <td scope="col" class="small">
                                    <input type="checkbox" name="CheckBox_Delete_{id_auth_user}" value="{id_auth_user}" id="del{id_auth_user}" class="delete" onclick="javascript:select_record('{id_auth_user}');">
                                </td>
                                <td><a href="{edit_href}">{username}</a></td>
                                <td>{group}</td> 
                                <td>{name}</td> 
                                <td>{email}</td> 
								<td>{location}</td> 
                            </tr>
                        {/list_user_admin}
                        </tbody>
                    </table>
                    <input type="hidden" id="temp_id" value=""/>

                    <div class="row">
                        <div class="eight columns pagination">
                            <span>Page : </span>
                            <br><br>
                            {pagination}
                        </div>
                        <div class="four columns action-button text-right">
                            <input type="button" id="{file_app}-add" title="Add" alt="Add" value="Add" onClick="javascript:window.location='{add_btn}';" class="medium radius success button"/>
                            <input type="button" id="{file_app}-delete" title="Delete" alt="Delete" value="Delete"  onclick="javascript:delete_records('{path_app}','{current_url}')" class="medium radius alert button delete_button"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--CONTENT-->




