      
      <!--CONTENT-->
      <div class="content twelve columns" id="content">
        <!--breadcrumbs-->
        <ul class="breadcrumbs">
          {breadcrumbs}
            <li {class}><a href="{href}">{text}</a></li>
          {/breadcrumbs}
        </ul>
        <!--breadcrumbs-->
      
        {error_msg}
        {success_msg}
        {info_msg}
        
        <div class="panel">
          <div class="row">
            <div class="twelve columns">
              <h5><strong>List of {menu_title}</strong></h5>
              <form id="form-{file_app}" name="form-{file_app}" action="#" method="post" class="nice">
                <table class="twelve" cellspacing="0" cellpadding="0">
                  <thead>
                    <tr>
                      <th scope="col" class="small">No.</th>
                      <th scope="col" class="small"><input type="checkbox" onclick="javascript:checkedAll('form-{file_app}', true)" id="primary_check"/></th>
                      <th scope="col" class="text-left">Group</th>
                      <th scope="col" class="text-left">Authorization</th>
                    </tr>
                  </thead>

                  <tbody id="record-{id_auth_user_group}">
                  {list_auth_arr}
                    <tr>
                      <td scope="col" class="small">{no}.</td>
                      <td scope="col" class="small">
                        <input type="checkbox" name="CheckBox_Delete_{id_auth_user_group}" value="{id_auth_user_group}" id="del{id_auth_user_group}" class="delete" onclick="javascript:select_record('{id_auth_user_group}');">
                      </td>
                      <td><a href="{edit_href}">{group}</a>&nbsp;</td> 
                      <td><a href="{edit_auth_href}">Authorization</a></td>
                    </tr>
                    {/list_auth_arr}
                  </tbody>
                  <input type="hidden" id="temp_id" value="">
                </table>
                <div class="row">
                  <div class="eight columns pagination">
                    <span>Page : </span><br><br>
                    {pagination}
                  </div>
                  
                  <div class="four columns action-button text-right">
                    <input type="button" id="{file_app}-add" title="Add" alt="Add" value="Add" onClick="javascript:window.location='{add_btn}';" class="medium radius success button"/>
                    <input type="button" id="{file_app}-delete" title="Delete" alt="Delete" value="Delete"  onclick="javascript:delete_records('{path_app}','{current_url}')" class="medium radius alert button delete_button"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--CONTENT-->
      
      
