      
      <!--CONTENT-->
      <div class="content twelve columns" id="content">
        <!--breadcrumbs-->
        <ul class="breadcrumbs">
          {breadcrumbs}
            <li {class}><a href="{href}">{text}</a></li>
          {/breadcrumbs}
        </ul>
        <!--breadcrumbs-->
        
        <div class="panel">
          <div class="row">
            <div class="twelve columns">
              <h5>Add/Edit {menu_title}</h5>
                
              {error_msg}
                {warning}
                {auth_admin}
              {/error_msg}
    
              <form id="form-{file_app}" name="form-{file_app}" action="{action}" method="post" class="custom">
                <div class="row">
                  <div class="five columns">
                    {auth_list}
                  </div>
                </div>
      
                <div class="row">
                  <div class="five columns text-right">
                    <input type="submit" id="{file_app}-submit" title="Submit" value="Submit" class="medium radius success button"/>
                    <a onClick="javascript:window.location='{cancel_btn}';" class="medium radius alert button">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--CONTENT-->
      
