<!DOCTYPE html>
<html>
<head>
<title>Auto Kencana - Account Activated</title>
<meta charset="utf-8">
<link href="{base_url}assets/css/mobile.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Raleway:500,300,400' rel='stylesheet' type='text/css'>
		<!--//webfonts-->       
</head>

<body>
	 <!-----start-main---->
	 <div class="main">
         <div class="head">
             <img src="{base_url}assets/images/aklogo.png" alt=""/>
         </div>
		<div class="line"></div>
		<div class="login-form">
			<h1>Your account has been activated. <br> You may login now.</h1>
            <br><br>
            <hr>
            <h1>Akun anda telah aktif. <br> Anda sudah bisa login sekarang.</h1>
			</div>
            
            <footer class="footer-line">
            <section class="copyright"><a href="http://www.autokencana.com/">Auto Kencana © 2014</a></section>
                <!--<nav>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Developers</a></li>
                    </ul>
                </nav>-->
			</footer>
			<!--//End-login-form-->
			 <!-----start-copyright---->
   					<!--<div class="copy-right">
						<p><a href="#">Auto Kencana</a></p> 
					</div>-->
				<!-----//end-copyright---->
		</div>
			 <!-----//end-main---->
		 		
</body>
</html>