<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=768"/>
    <meta name="description" content="">
    <meta content="Faisal Latada, Insan Sharif" name="author"/>
    <meta name="robots" content="noindex, nofollow"/>

    <link rel="shortcut icon" type="image/x-icon" href="{base_url}assets/images/favicon.png">

    <title>AK Experience CMS - Forgot Password</title>

    <link rel="stylesheet" href="{base_url}assets/css/admin/foundation.css">
    <link rel="stylesheet" href="{base_url}assets/css/admin/general_foundicons.css">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{base_url}assets/css/admin/general_foundicons_ie7.css">
    <![endif]-->
    <link rel="stylesheet" href="{base_url}assets/css/admin/app.css">

    <script src="{base_url}assets/js/found/modernizr.foundation.js"></script>

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body id="page" class="off-canvas hide-extras">

<div class="container">
    <!--header-->
    <header class="row landing">
        <div class="three columns centered text-center">
            <img src="{base_url}assets/images/client_img.png" alt="webcontrol logo" width="176" height="120" />
        </div>
    </header>
    <!--header-->

    <!--content-->
    <article class="row login">
        <form id="login-form" class="custom four columns centered" method="post" action="{action_url}">
            <div class="row">
                <div class="twelve columns">
                    <div class="row collapse">
                        <div class="two columns">
                            <span class="prefix"><i class="foundicon-lock"></i></span>
                        </div>
                        <div class="ten columns">
                            <input type="password" placeholder="Set Your New Password" name="pass" />
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="two columns">
                            <span class="prefix"><i class="foundicon-lock"></i></span>
                        </div>
                        <div class="ten columns">
                            <input type="password" placeholder="Confirm Your New Password" name="passconf" />
                        </div>
                    </div>
                    {form_message}
                    <div class="row collapse">
                        <div class="four columns">
                            <a href="{base_url}index.php/admpage/login">&laquo; Login</a>
                        </div>
                        <div class="four columns">
                        </div>
                        <div class="four columns text-right">
                            <input type="hidden" value="{email}" name="email" />
                            <input type="submit" class="button radius" value="Submit" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </article>
    <!--content-->

    <!--footer-->
    <div class="footer row">
        <div class="twelve columns text-center">
            <img src="{base_url}assets/images/jdicon.png" height="99" width="126" style="vertical-align:middle">&nbsp;|&nbsp;&copy;2013 PT. Jayadata Indonesia
        </div>
    </div>
    <!--footer-->
</div>

<!-- Included JS Files (Compressed) -->
<script src="{base_url}assets/js/found/jquery.js"></script>
<script src="{base_url}assets/js/found/foundation.min.js"></script>
<script src="{base_url}assets/js/jquery.validate.js" type="text/javascript"></script>

<!-- Initialize JS Plugins -->
<script src="{base_url}assets/js/found/app.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#login-form").validate();
    });
</script>

</body>
</html>